body{
    margin: 0;
    padding:0;
    font-family:"Bariol" !important;
    src:url(../assets/fonts/Bariol_Regular.otf);
}
@font-face{
    font-family:"Bariol";
    src:url(../assets/fonts/Bariol_Regular.otf),
        url(../asstes/fonts/bariol_regular-webfont.ttf) format('ttf'),
        url(../asstes/fonts/bariol_regular-webfont.woff) format('woff'),
        url(../asstes/fonts/bariol_regular-webfont.woff2) format('woff2')
        ;
}
@font-face{
    font-family: "Bariol-italic";
    src:url(../assets/fonts/Bariol_Regular_Italic.otf),
        url(../assets/fonts/bariol_regular_italic-webfont.ttf) format('ttf'),
        url(../assets/fonts/bariol_regular_italic-webfont.woff) format('woff'),
        url(../assets/fonts/bariol_regular_italic-webfont.woff2) format('woff2')
        ;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a:focus{
    outline: 0;
}
p{
    margin: 0;
}
@media (min-width:992px){
    .container{
        width:970px;
        margin: 0 auto !important;
    }
}
#wrapper{
    background: #eb4f4e;
    overflow: hidden;
}
#header{
    background: #f56262;
    margin: 0 0 10px;
    padding: 17px 0 20px;
    /*    clip-path: polygon(65% 0, 90% -50%, 100% 100%, 0 100%, 0% 50%, 0 0);*/
}
/*#header:after{
    background: url('../assets/images/nav-after-image.png');
    width: 64px;
    height: 120px;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
}*/
.navbar{
    padding: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-size: 16px;
    font-family:'Bariol', sans-serif;
}
.navbar-light .navbar-nav .nav-link:hover{
    background: #000;
    border-radius: 4px;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link a{
    color:#fff;
}
.navbar-light .navbar-toggler{
    border-color: rgba(0,0,0,0);
}
button:focus{
    outline:0;
    outline:0;
}
.fa-bars{
    color: #fff;
    font-size: 30px;
}
#banner{
    background: #eb4f4e;
    padding: 50px 0 0;
    position: relative;
}
#banner .heading{
    text-align: center;
    font-family:"Bariol";
    color: #fff;

}
#banner .heading h3{
    font-size:60px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
#banner .heading p{
    font-size: 20px;
    letter-spacing: 5px;
}
#banner .single-item{
    display: none;
}
/********************
 * FEATURE CAROUSEL *
 ********************/
#carousel {
    height:460px;
    width:96%;
    margin: 0 auto;
    position:relative;
    margin-bottom:0.5em;
    font-size:12px;
    font-family: Arial;
}
.carousel-image {
    border:0;
    display:block;
}
.carousel-feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    cursor:pointer;
    width:35.2%;
}
#carousel-left {
    position:absolute;
    top:50%;
    left:100px;
    cursor:pointer;
}
#carousel-right {
    position:absolute;
    top:50%;
    right:100px;
    cursor:pointer;
}
#creative{
    background: #232324;
    padding: 40px 0 20px;
    text-align: center;
}
#creative h4{
    font-size: 40px;
    color: #fff;
    letter-spacing: 5px;
}
#creative span{
    font-size: 20px;
    color: #d84948;
    display: block;
    letter-spacing: 1px;
}
#creative .creative-blocks{
    margin: 40px 0 0;
}
#creative h5{
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    margin: 15px 0 5px;
}
#creative p{
    font-size: 18px;
    color: #e74c3c;
    line-height: 1;
}
#telent{
    background:#6cc372;
    padding: 40px 0 20px;
    text-align: center;
}
#telent h4{
    font-size: 40px;
    color: #fff;
    letter-spacing: 5px;
}
#telent span{
    font-size: 20px;
    color: #000;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 40px;
    display: block;
}
#telent .block{
    background: #fff;
    border-radius: 5px;
    padding:25px 10px 10px;
    margin: 0 5px 0;
}
#telent .custom-padding{
    padding: 0;
}

#telent .block .image{
    max-width: 164px;
    margin: 0 auto;
}
#telent .block .image img{
    width: 100%;
    height: auto;
}
#telent .block .detail{
    min-height: 100px;
}
#telent .block span{
    display: block;
    line-height: 1;
}
#telent .block .name{
    font-size: 23px;
    color:#54a359;
    margin: 22px 0 14px;
}
#telent .block .designation{
    font-size: 16px;
    color: #e13d2f;
    margin: 0;
}
#telent .block .button{
    background: #6cc372;
    font-size: 25px;
    color: #fff;
    display: block;
    border-radius: 3px;
}
#elegant{
    background:#f0f0f0;
    padding: 40px 0 220px;
    text-align: center;
    border-bottom: 1px solid #d8d8d8;
}
#elegant h4{
    font-size: 40px;
    color: #616161;
    letter-spacing: 5px;
}
#elegant span{
    font-size: 20px;
    color: #61af66;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0 0 40px;
    display: block;
}
#elegant a{
    text-decoration: none;
}
#elegant a p{
    font-size: 21px;
    color: #232324;
    margin: 28px 0 0;
}
.slick-slider .slick-list, .slick-slider .slick-track{
    padding: 0 0 10px;
}
.slick-next, .slick-prev{
    top: 30%;
}
.slick-slide:focus{
    outline: 0;
}
.slick-prev{
    background:url('../assets/images/left-arrow-elegent.png');
    width: 15px;
    height: 25px;
}
.slick-next{
    background: url('../assets/images/right-arrow-elegant.png');
    width: 15px;
    height: 25px;
}
.slick-next:before, .slick-prev:before{
    font-size: 0;
}
.slick-next:hover{
    background: url('../assets/images/right-arrow-elegant.png');
    width: 15px;
    height: 25px;
}
.slick-prev:hover{
    background:url('../assets/images/left-arrow-elegent.png');
    width: 15px;
    height: 25px;
}
.slick-slide img{
    display: inherit;
    width: 100%;
    height: auto;
}
.slick-dots li button:before{
    color: #656565;
    opacity: 1;
}
.slick-dots li.slick-active button:before{
    color: #6cc372;
}
#pricing{
    text-align: center;
    padding: 0 0 35px;
    background: #fff;
}
#pricing .pricing-block{
    margin: -106px 0 0; 
    border-radius: 5px;
    background: #fff;
}
#pricing .title{
    border-radius: 5px 5px 0 0;
    padding: 17px 0 23px;
    border:1px solid #e9e9e9;
}
#pricing .title span{
    font-size: 40px;
    color: #616161;
    margin: 0 0 16px;
    display: block;
    letter-spacing: 1px;
    line-height: 0.8;
}
#pricing .title p{
    color: #eb4f4e;
    font-size: 20px;
    line-height: 0.8;
}
#pricing .standard{
    margin: -147px 0 0;
}
#pricing .standard .title{
    position: relative;
    padding: 17px 0 40px;
}
#pricing .standard .title:after{
    background: url(../assets/images/standard-icon.png);
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: -15px;
    left: 45%;
    content: '';
}
#pricing .standard .title span{
    color: #eb4f4e;
}
#pricing .standard .title p{
    color: #616161;
    line-height: 1;
}
#pricing ul{
    background: #f0f0f0;
}
#pricing ul li{
    border-bottom:1px solid #d8d8d8;
    border-top: 1px solid #fff;
    padding: 15px  0;
}#pricing ul li:first-child{
    border-bottom:1px solid #d8d8d8;
}
#pricing ul li a{
    font-size: 18px;
    color: #616161;
    text-decoration: none;
}
#pricing .price{
    background: #616161;
    overflow: hidden;
}
#pricing .standard .price{
    background: #eb4f4e;
}
#pricing .price .amount{
    float: left;
    color: #fff;

}
#pricing .price .amount p{
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
}
#pricing .price .amount h1{
    display: inherit;
    font-size: 64px;
    font-weight: bold;
}
#pricing .price .button{
    float: right;
    background: #fff;
    padding: 10px 20px;
    font-size: 21px;
    color: #616161;
    text-transform: capitalize;
    border-radius: 3px;
    text-decoration: none;
}
#pricing .bottom-line{
    color: #eb4f4e;
    font-size: 20px;
    margin:30px 0 0;
}
#tweets{
    padding: 30px 0;
    text-align: center;
}
#tweets h4{
    font-size: 40px;
    color: #fff;
    letter-spacing: 5px;
    margin: 0 0 21px;
}
#tweets span{
    font-size: 20px;
    color: #232324;
    text-transform: capitalize;
    margin: 0 0 40px;
    display: block;
}
#tweets .slick-prev{
    background: url(../assets/images/left-arrow-tweets.png);
    width: 36px;
    height: 36px;
}
#tweets .slick-next{
    background: url(../assets/images/right-arrow-tweets.png);
    width: 36px;
    height: 36px;
}
#tweets .tweet-icon{
    color: #fff;
    font-size: 35px;
    margin: 0 0 25px;
}
#tweets .twitter-profile-detail{
    font-size: 18px;
    font-family: "Bariol-italic";
    text-align: left;
    width: 90%;
    margin: 0 auto;
}
#tweets .twitter-profile-detail p{
    color: #fff;
    line-height:2;
}
#tweets .twitter-profile-detail span{
    margin: 0;
    display: inline-block;
}
#tweets .twitter-profile-detail a{
    color: #232324;
}
#footer{
    background: #232324;
    padding: 10px 0;
}
#footer .copyright{
    color: #fff;
    font-size: 18px;
}
#footer .copyright span{
    color: #eb4f4e;
}
#footer .social li{
    display: inline-block;
    background: #eb4f4e;
    margin: 0 5px 0;
    border-radius: 2px;
}
#footer .social a{
    color: #fff;
    font-size: 25px;
}
#footer .social .fa-facebook-f{
    padding: 5px 10px;
}
#footer .social .fa-twitter{
    padding: 5px ;
}
#footer .social .fa-rss{
    padding: 5px ;
}
#bottom-footer{
    padding: 50px 0;
    background: url(../assets/images/bg-map.jpg);
    background-size: cover;
    text-align: center;
}
#bottom-footer .contact-us{
    background: rgba(0, 0, 0, 0.8);
    padding: 14px 0;
    width: 50%;
    margin: 0 auto;
    border-radius:5px;
}
.contact-us span{
    display: block;
    color: #fff;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0 0 27px;
}
.contact-us a{
    color: #eb4f4e;
    font-size: 20px;
    margin: 0 0 27px;
    display: block;
}
.contact-us p{
    color: #eb4f4e;
    font-size: 20px;
    margin: 0 0 27px;
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    #banner .single-item{
        display: block;
    }
    #banner .slick-next{
        display: none !important;
    }
    #banner .slick-prev{
        display: none !important;
    }
    #carousel{
        display: none;
    }
    #carousel-left{
        display: none;
    }
    #carousel-right{
        display: none;
    }
    #pricing .standard .title{
        padding: 17px 5px 40px;
    }
    #pricing .price{
        padding: 10px 5px;
    }
}
@media (max-width: 767px){
    .navbar-light .navbar-nav .nav-link{
        text-align: center;
    }
    #banner .heading h3{
        letter-spacing: 0;
        word-spacing: 0;
    }
    #banner .heading p{
        letter-spacing: 0;
    }
    #carousel{
        display: none;
    }
    #banner .slick-next{
        display: none !important;
    }
    #banner .slick-prev{
        display: none !important;
    }
    #banner .single-item{
        display: block;
    }
    .mobile-responsive{
        margin:0 0 25px;
    }
    #creative h4{
        letter-spacing: 0;
    }
    #telent h4{
        letter-spacing: 0;
    }
    #elegant h4{
        letter-spacing: 0;
    }
    #tweets h4{
        letter-spacing: 0;
    }
    .slick-next, .slick-prev{
        display: none !important;
    }
    #pricing .standard{
        margin: 0px 0 107px;
    }
    #bottom-footer .contact-us{
        width: 100%;
    }
    #footer .copyright{
        text-align: center;
    }
    #footer .social{
        text-align: center;
    }
}
.pricing-blocks{
    margin: -114px 0 0 !important;
}
.rpt_plan{
    background: #fff;
}
.rpt_style_basic .rpt_plan .rpt_title{
    background: #fff !important;
    color: #000 !important;
    border-bottom: none !important;
    text-align: center !important;
}
.rpt_style_basic .rpt_plan .rpt_head{
    background: #fff !important;
    color: #000 !important;
    border-top: none !important;
}
.rpt_style_basic .rpt_plan .rpt_head .rpt_price{
    display: none !important;
}
.vc_section[data-vc-full-width]{
    overflow: inherit !important;
}
.rpt_plan_1{
    margin: -40px 0 0;
}
.rpt_plan_1 .price{
    background: #eb4f4e !important;
}
.rpt_head_1{
    padding: 0 0 20px !important;
}
.rpt_head_1:after{
    background: url(../assets/images/standard-icon.png);
    width: 30px;
    height: 30px;
    position: absolute;
    top:  -13px;
    left: 48.5%;
    content: '';
}
.rpt_features{
    padding:0 !important;
}
.rpt_features .rpt_feature{
    padding: 15px 0 !important;
    border-bottom: 1px solid #d8d8d8 !important;
    border-top: 1px solid #fff !important;
}
.slick-slide img{
    width: auto !important;
}
.tdt-slider .carousel-caption{
    top:60px !important;
}