body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
#custom-form{
    padding:50px 10px;
    background: #f5f5f5;
}
.custom-label{
    font-weight: bold;
    font-size: 14px;
}
.btn{
    border: 1px solid #ced4da;
    border-radius: 0;
}
.question-button{
    background: #fff;
}
.submit{
    background:#337AB7;
    color: #fff;
    text-transform: capitalize;
}
#custom-form p{
    font-size: 14px;
}
#files{
    display: block;
}
.thumb {
    height: 75px;
    border: 1px solid #ced4da;
    margin: 10px 5px 0 0;
}